.container{
    border : 2px solid black;
    width: 50%;
    margin:70px auto;
    text-align: center;
    padding:1rem;  
    background-color: rgb(245, 245, 240);
    border-radius: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.inputFields{
    margin:1rem;
    width: 20rem;
    height: 1.5rem;
    outline : none;
    border-radius: 5px;
}
.signupBtn{
    width: 6rem;
    height: 1.7rem;
    font-weight: bold;
    cursor: pointer;
    background-color:gray;
    color: white;
    border-radius: 5px;
}
.loginText{
    margin-top: 20px;
}
.roleDesing{
    border:2px solid black;
}
.verifyEmail{
    color :green;
    font-weight: bold;
    text-align: center;
    font-size:4 rem;
}